* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

header {
    background-color:rgba(104, 109, 114, 0.623);
    width: 100%;
    height: 70px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

header nav {
    height: 70px;
    background-color: rgba(255, 255, 255, 0.192);
   background-color: transparent;
    display: flex;
    justify-content: space-between
}

.icono {
    display: none;
}

.enlaces {
    display: flex;
    height: 100%;
    width: 30%;
    justify-content: space-around;
    align-items: center;
}

.enlaces a {
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    padding: 7px 0;
    transition: 0.7s ease-out;
    color:#031430;
    text-decoration: none;
}

.enlaces a:hover,
.active {
    border-top: 2px solid #EF8216;
    border-bottom: 2px solid #EF8216;
}

nav .logo {
    margin-top: 5px;
    height: 95%;
    background: transparent;
    margin-left: 30px;
}

nav .logo img {
    object-fit: cover;
    height: inherit;
}

header .textos {
    text-align: center;
    color: #fff;
    margin-top: 150px;
}

header .textos h1 {
    font-size: 95px;
    letter-spacing: 3px;
    font-weight: 600;
    margin-bottom: 10px;
}

header .textos h2 {
    font-size: 30px;
    font-weight: 600;
}

.banner{
    position: relative;
    width: 100%;
   height: calc(80vh );
    background-color: #0f0f0f;
    background-size: cover;
    background-position: center;
    transition: all .1s  ease-in-out;
    background-image: url("../imags/Banner2.jpg");  /*Imagen principal del banner de bienvenida*/
    animation: banner 28s infinite linear;
}
.banner-content{
    margin: 0;
    padding: 0;
    width: 100%;
    height:88.3%;
    color: #fff;
    background-color: rgba(161, 107, 27, 0.315);
   /* background-color: rgba(0, 22, 40,  .4);*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-content h1{
 margin: 0;
 padding: 0;
 padding-bottom: 25px;
 font-size: 40px;
 text-align: center;
color: #fff;
}
.banner-content h2{
    margin: 0;
    padding: 0;
    padding-bottom: 25px;
    font-size: 25px;
    text-align: center;
   color: #fff;
   }
.banner-content a{
text-decoration: none;
color: #fff;
font-size: 18px;
padding: 9px 20px;
border :1px solid #fff;
border-radius: 50px;
background-color: rgba(18, 50, 110, 0.781); 
text-transform: uppercase;
transition: all .3s ease-in-out;
}

.banner-content a:hover{
    background-color: #fff;
    color: #333;

}
/*Imagenes de la Animacion del Banner*/
 
@keyframes banner{
    0%{
        background-image: url("../imags/Banner2.jpg"); 
    }
    25%{
        background-image: url("../imags/Banner2.jpg");
    }

    26%{
        background-image: url("../imags/Banner3.jpg"); 
    }
    50%{
        background-image: url("../imags/Banner3.jpg");
    }
    51%{
        background-image: url("../imags/Banner4.jpg"); 
    }
    75%{
        background-image: url("../imags/Banner4.jpg");
    }
    76%{
        background-image: url("../imags/Banner5.jpg"); 
    }
    100%{
        background-image: url("../imags/Banner5.jpg");
    }
}
@media screen and (max-width:1160px){
    body{
        font-family: 'Lato', sans-serif;
        font-size: 13px;    
    }
    .banner-content{
        margin: 0;
        padding: 0;
        width: 100%;
        height:87%;
    }
    
}
@media screen and (max-width:950px) {

    
    
    .icono {
        display: flex;
        justify-content: center;
        height: 70px;
        align-items: center;
        color: #fff;
        background: transparent;
        padding: 20px;
        z-index: 100;
        cursor: pointer;
        margin-right: 40px;
    }

  
    .enlaces {
        position: fixed;
        height: 100vh;
        right: 0;
        width: 100%;
        flex-direction: column;
        transition: all 1s ease;
        /*background: #8e9eab;  */
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab); 
         /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #eef2f3, #8e9eab); 
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        

    }

    .uno {

        -webkit-clip-path: circle(0% at 100% 0%);
        clip-path: circle(0% at 100% 0%);

    }

    .dos {

        -webkit-clip-path: circle(150% at 100% 0%);
        clip-path: circle(150% at 100% 0%);

    }

    .banner{
        background-image: url("../imags/Banner2.jpg");
          
    }

    .banner h1{
       
     text-align: center;
     font-size: 60px;    
    }

    .banner h2{
       
        text-align: center;
        font-size: 35px;    
       }

    .banner-img{
        height: 45px;
        width: 115px;
    }
}

@media screen and (max-width:950px){
    nav .logo{
        margin-left: 10px;
    }
    .icono{
        margin-right:20px;
    }

    
}
@media screen and (max-width:590px){
    body{
        font-family: 'Lato', sans-serif;
        font-size: 10px;    
    }
    .banner-content{
        margin: 0;
        padding: 0;
        width: 100%;
        height:87%;
    }
    
    .banner h1{
       
        text-align: center;
        font-size: 45px;    
       }
   
       .banner h2{
          
           text-align: center;
           font-size: 15px;    
          }
   
       .banner-img{
           height: 25px;
           width: 115px;
       }
}


  .footer-distributed{
      background: #666;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
      box-sizing: border-box;
      width: 100%;
      text-align: left;
      font: bold 16px sans-serif;
      padding: 55px 50px;
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
      display: inline-block;
      vertical-align: top;
  }
  
  /* Footer left */
  
  .footer-distributed .footer-left{
      width: 40%;
  }
  
  /* The company logo */
  
  .footer-distributed h3{
      color:  #ffffff;
      font: normal 36px 'Open Sans', cursive;
      margin: 0;
  }
  
  .footer-distributed h3 span{
      color : #EF8216;
  }
  
  /* Footer links */
  
  .footer-distributed .footer-links{
      color:  #ffffff;
      margin: 20px 0 12px;
      padding: 0;
  }
  
  .footer-distributed .footer-links a{
      display:inline-block;
      line-height: 1.8;
    font-weight:400;
      text-decoration: none;
      color:  inherit;
  }
  
  .footer-distributed .footer-company-name{
      color:  #222;
      font-size: 14px;
      font-weight: normal;
      margin: 0;
  }
  
  /* Footer Center */
  
  .footer-distributed .footer-center{
      width: 35%;
  }
  
  .footer-distributed .footer-center i{
      background-color:  #33383b;
      color: #ffffff;
      font-size: 25px;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      text-align: center;
      line-height: 42px;
      margin: 10px 15px;
      vertical-align: middle;
  }
  
  .footer-distributed .footer-center i.fa-envelope{
      font-size: 17px;
      line-height: 38px;
  }
  
  .footer-distributed .footer-center p{
      display: inline-block;
      color: #ffffff;
    font-weight:400;
      vertical-align: middle;
      margin:0;
  }
  
  .footer-distributed .footer-center p span{
      display:block;
      font-weight: normal;
      font-size:14px;
      line-height:2;
  }
  
  .footer-distributed .footer-center p a{
      color:  #EF8216;
      text-decoration: none;;
  }
  
  .footer-distributed .footer-links a:before {
    content: "|";
    font-weight:300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  /* Footer Right */
  
  .footer-distributed .footer-right{
      width: 20%;
  }
  
  .footer-distributed .footer-company-about{
      line-height: 20px;
      color:  #92999f;
      font-size: 13px;
      font-weight: normal;
      margin: 0;
  }
  
  .footer-distributed .footer-company-about span{
      display: block;
      color:  #ffffff;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 20px;
  }
  
  .footer-distributed .footer-icons{
      margin-top: 25px;
  }
  
  .footer-distributed .footer-icons a{
      display: inline-block;
      width: 35px;
      height: 35px;
      cursor: pointer;
      background-color:  #33383b;
      border-radius: 2px;
  
      font-size: 20px;
      color: #ffffff;
      text-align: center;
      line-height: 35px;
  
      margin-right: 3px;
      margin-bottom: 5px;
  }


  
  
  /* If you don't want the footer to be responsive, remove these media queries */
  
  @media (max-width: 880px) {
  
      .footer-distributed{
          font: bold 14px sans-serif;
      }
  
      .footer-distributed .footer-left,
      .footer-distributed .footer-center,
      .footer-distributed .footer-right{
          display: block;
          width: 100%;
          margin-bottom: 40px;
          text-align: center;
      }
  
      .footer-distributed .footer-center i{
          margin-left: 0;
      }
  
  }
  



  
